.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container, .App-body, .App-header, .App-footer  {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  justify-content:space-between;
}

.App-body {
  width: 100%;
  min-height: 75vh;
}

.App-lesson {
  width: 100%;
  min-height: 75vh;
}

.App-header {
  background-color: #11151d;
  color: rgb(173, 219, 221);
  min-height: 15vh;
}

.App-footer {
  background-color: #11151d;
  color: rgb(213, 173, 221);
  min-height: 10vh;
}

.App-sidebar, .App-sidebar-hidden {
  background-color: #11151d;
  color: rgb(221, 188, 173);
  min-height: 100%;
  width: 20vw;
  text-align: left;
}

.App-sidebar-hidden {
  color: rgb(92, 92, 92);
  width: 2vw;
}

.App-sidebarItem, .App-sidebarItem s2 {
  font-size: calc(18px);
  color: rgb(84, 219, 179);
  padding: 5px;
}

.s2 {
  color: rgb(84, 192, 219);
}

.App-link {
  color: #61dafb;
}

.Comp-container {
  border-radius: 10px;
  margin: 10px;  
  padding: 10px;  
}

button {
  border-radius: 10px;
  font-size: calc(10px + 1vmin);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div {
  border-right: lightblue 1px dashed;
  border-bottom: lightblue 1px dashed;
}

.no-border {
  border: none;
}

.game-scene {
  border-radius: 20px;
  position: relative;
  background-color: black;
  display: flex;
  width: 90%;
  height: 500px; 
  justify-content: center;
  align-items: end;
}

.player-mario {
  position: absolute;
}

.game-item {
  position: absolute;
}

.collision-box {
  position: absolute;
  border: none;
  /* border: 2px green dashed; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
